.container-fluid 
    .container
        .row.not-in-store.bg2
            .col-sm-5
                img.ring(src="img/ring.png", alt="ring")
            .col-sm-7
                h2.blue-stick Your customers don't have to be in-store for you to be together.
                p.bluestickp Introducing a virtual in-store experience that sets a new standard for personalized online interactions.
                .as.text-uppercase
                    a.col-6.blue-a(href="#") Find out more  
        .row.description#desc
            .col-sm-6
                h2.blue-stick.mb-4 A different type of software platform
                h5 Modeled  
                p.mb-4 During development, we model against your existing (or aspirational) processes and workflows. It’s the closest thing to bespoke software you’ll find.
                h5 Collaborative  
                p.mb-4 System workflows that are created around your product development process, not the other way around.
                h5 Communicative  
                p Your products don’t live in a vacuum, and neither should your software. BOSS Logics is designed to integrate directly with your other systems.
            .col-sm-6
                img.dellp(src="img/dell.png", alt="design-photo")
        .row
            .container-fluid 
                .container 
                    .row.explainin
                        h2.text-center.pb-4 What does that mean for you?
                        .col-sm-4.pt-5.pics-relative
                            img(src="img/Layer 20.png", alt="pic")
                            h3 Streamlined processes  
                            p Built for you – no more extra steps just because the software system demands it
                        .col-sm-4.pt-5.pics-relative
                            img(src="img/009-clock.png", alt="pic")
                            h3 Quicker time to market  
                            p Eliminate inefficiencies in the product development process so you can sell more, faster
                        .col-sm-4.pt-5.pics-relative
                            img(src="img/Layer 22.png", alt="pic")
                            h3 More agile workflows  
                            p Easily exchange &amp; share data between your various systems without manual work
                        .a.text-center
                            a.text-uppercase.blue-a(href="#") learn more
                    .row.trusted-by
                        .col-sm-6
                            img(src="img/glass.png", alt="img")
                        .col-sm-6
                            h2.blue-stick Trusted by leading brands
                            p.pt-3.pb-3 “Our actual go-live was perfect. It was seamless. The integration has been amazing. Our old system involved manual data entry for everything, but with the BOSS Integration, it’s as easy as changing a flag and getting updates from our ERP system.”
                            h5 Dean LeNeve 
                            p.text-secondary Director of Operations, David Webb  
                    .row.brands
                        img(src="img/david-yurman-vector-logo.png", alt="img")
        .row#getstarted.demo
            .col-sm-6 
                h2.blue-stick Ready to see what BOSS Logics can do for you?
                a.text-uppercase.col-6.blue-a(href="#") get a demo
            .col-sm-6 
                img(src="img/Macbook .png", alt="img")


            

